<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view class="title" view-title="Details">

<ion-content>

<style>
 #wrapper { 
  position: relative; 
 }
 #over_map { 
  position: absolute; 
  top: 10px; 
  left: 10px; 
  z-index: 99; 
 }
 .search {
  -webkit-filter: blur(3px); /* Chrome, Opera, etc. */
  filter: url('blur.svg#blur'); /* Older FF and others - http://jordanhollinger.com/media/blur.svg */
  filter: blur(10px); /* Firefox 35+, eventually all */
  }

  .item.wrap, .item-content.wrap {
    white-space: normal;
  }
</style>

  <map on-create="mapCreated(map)">
  </map>

  <div class="item">
    <div class="item-button-left">
      <button class="button button-clear button-positive" ng-click="shareAnywhere()">
        Share
      </button>
      {{event.event_name}}
    </div>

    <div class="item-button-right">
      <button class="button button-clear button-positive" ng-click="createEvent()">
        Sync
      </button>
    </div>
  </div>

  <div class ="item item-icon-left">
    <i class="icon ion-location"></i>
    {{event.location}}
  </div>

  <div class="item item-icon-left">
    <i class="icon ion-ios-alarm-outline"></i>
    {{event.start_date}} to {{event.end_date}}
  </div>

  <div class="wrap item item-icon-left">
    <i class="icon ion-ios-information-outline"></i>
    {{event.description}}
  </div>
  

  </ion-content>
</ion-view>
