<ion-view view-title="Login" name="login-view">
<ion-spinner></ion-spinner>
<ion-content class="padding">
<div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="Email @ucsd.edu" ng-model="data.email">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Access Code" ng-model="data.accessCode">
  </label>
</div>
<button class="button button-block button-calm" ng-click="login()">Login</button>
</ion-content>
</ion-view>