<ion-view view-title="Sign Up" name="signup-view">
<ion-spinner></ion-spinner>
<ion-content class="padding">
<div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="Email @ucsd.edu" ng-model="data.email">
  </label>
</div>
<button class="button button-block button-calm" ng-click="signup()">Sign Up</button>
</ion-content>
</ion-view>