<!-- This is the page were we render our
     soonest and closet events page 
-->

<ion-view view-title="Flier">

  <!-- 
    Reveal the filter side menu on 
    when clicked on 
    XX NOT IMPLEMENTED XX
  -->
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="toggleLeft()">
      Filter
    </button>
  </ion-nav-buttons>

<ion-content class="half-panel">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
    
    <ion-list>
      <map on-create="mapCreated(map)"></map>

      <!--
      <div class="tabs-striped tabs special">
        <div class="solid-line"></div>
          <a class="tab-item" href="#">
            Soonest
          </a>  
          <a class="tab-item" href="#">
            Closest
          </a>
      </div>
      -->

      <div id="middle-tabs">
        <div class="button-bar">
          <a class="button button-positive button-clear" ng-click="moveRight()">Soonest</a>
          <a class="button button-positive button-clear" ng-click="moveLeft()">Closest</a>
        </div>      
        <div id="moveline" class="line"></div>
      </div>


      <!-- 
        Should we include item-avatar? 
        Possibility of event having images 
        to show as avatar. 
      -->
      <ion-item class="item-remove-animate item-icon-right" collection-repeat="event in events | orderBy:sortDate" type="item-text-wrap" href="#/tab/events/{{event._id}}">
        <div class="card_item_group">
          <h2>{{event.title}} | limitTo: 10</h2>
          <p>{{event.location}}</p>
        </div>
        <div class="card_item_group right">
          <p>{{event.distText}}</p>
          <p id='righttime'>{{event.date}}</p>
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>



        <!-- ****** KEEP THIS FOR FUTURE DESIGN ******
        <ion-option-button class="button-assertive" ng-click="remove(event)">
          Delete
        </ion-option-button>
        -->
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>