<!-- <ion-view>

	<ion-search>
	</ion-search>

	<map class="tab-map-map" on-create="mapCreated(map)"></map>
 
</ion-view> -->

<ion-view>

  <style>
     #wrapper { position: relative; }
     #over_map { position: absolute; top: 0px; left: 0px; z-index: 99; }
  </style>


  <ion-content>
    <div class="list">
      
      <div id="wrapper">
        <map class='tab-map-map'></map>

        <div id="over_map" class="bar bar-header item-input-inset">
          <ion-search placeholder="Search a user" filter="search"></ion-search>
        </div>
      
      </div>
    </div>
  </ion-content>
</ion-view>