<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
 

      <!--
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="event in events" type="item-text-wrap">

        <h1>{{event.event_name}}</h1>

      </ion-item>
      -->


    </ion-list>
  </ion-content>
</ion-view>
