/* Empty. Add your own CSS if you like */
map {
  display: block;
  width: 100%;
  height: 200px;
}

.special{
	top: 200px;
}


/**
 *	We need to figure this out, 
 * 	how to do the coloring of the 
 *	background.
 */
.pane {
    background-color: #F7F7F7;
}

.line{
	background-color: #007AFF;
	height: 2px;
	width: 30%;
	margin-left: 10%;
}
/*
#righttime{
  float:right;
}*/

.button-bar{
  margin-top: -0.25%;
  margin-bottom: -0.5%;
}

.tab-map-map{
  height: 500px;
}

.card_item_group {
  display: inline-block;
}

.right{
  float: right;
}
